<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Danh Sách Cầu Thủ</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        img{
            width: 100px;
        }
    </style>
</head>
<body>
<h1 style="color: coral">Danh Sách Cầu Thủ</h1>
<a href="/player/create" class="btn btn-primary">Thêm mới cầu thủ</a>
<table>
    <tr>
        <th>Mã Cầu Thủ</th>
        <th>Tên Cầu Thủ</th>
        <th>Ngày Sinh Cầu Thủ</th>
        <th>Kinh Nghiệm Cầu Thủ (Năm)</th>
        <th>Vị Trí Cầu Thủ</th>
        <th>Ảnh Cầu Thủ</th>
        <th>Đội Tuyển</th>
        <th>Trạng Thái</th>
        <th>Thông Tin Chi Tiết Cầu Thủ</th>
        <th>Sửa</th>
        <th>Xóa</th>
    </tr>
    <tr th:each="playerSoccer ,iterStat : ${playerSoccerList}">
        <td th:text="*{iterStat.count}"></td>
        <td th:text="*{playerSoccer.name}"></td>
        <td th:text="*{playerSoccer.dateOfBirth}"></td>
        <td th:text="*{playerSoccer.experience}"></td>
        <td th:text="*{playerSoccer.location}"></td>
        <td><img th:src="*{playerSoccer.img}"></td>
        <td th:text="*{playerSoccer.team?.name}"></td>
        <td th:text="*{playerSoccer.status}"></td>
        <td><a th:href="@{/player/detail?id = __*{playerSoccer.id}__}" class="btn btn-primary btn-sm">Thông Tin Chi tiết</a></td>
        <td><a th:href="@{player/edit?id = __*{playerSoccer.id}__}" class="btn btn-primary btn-sm">Sửa</a></td>
        <td>
            <button type="button" class="btn btn-danger btn-lg" data-toggle="modal" data-target="#modelId"
                    th:attr="onclick=|infoDelete('${playerSoccer.id}','${playerSoccer.name}')|">
                Xóa
            </button>
        </td>
    </tr>
</table>
<!-- Modal -->
<div class="modal fade" id="modelId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"> Xóa cầu thủ </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="/player/delete">
                <div class="modal-body">
                    <input type="hidden" name="deleteId" id="deleteId">
                    <span>Bạn Có Chắc Chắn Xóa Cầu Thủ</span><span style="color: red" id="deleteName"></span> Không ?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Huỷ</button>
                    <button type="submit" class="btn btn-danger">Xoá</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    function infoDelete(id, name) {
        document.getElementById("deleteId").value = id;
        document.getElementById("deleteName").innerText = name;
    }
</script>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>