<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User List</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        .active{
            color: black !important;
            background: azure !important;
        }
    </style>
</head>
<body>
<form action="/user" method="get">
    <input type="text" name="title" placeholder="Search....">
    <input type="submit" value="Search">
</form>
<a href="/user/create" class="btn btn-secondary">Thêm mới User</a>
<table class="table">
    <thead>
    <tr>
        <th>STT</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Phone Number</th>
        <th>Age</th>
        <th>Email</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user,iterStat : ${userList}">
        <td th:text="${iterStat.count}"></td>
        <td th:text="${user.getfirstName}"></td>
        <td th:text="${user.lastName}"></td>
        <td th:text="${user.phoneNumber}"></td>
        <td th:text="${user.age}"></td>
        <td th:text="${user.email}"></td>
    </tr>
    </tbody>
</table>

<!--<div class="text-center">-->
<!--    <a class="page-item" th:if="${user.hasPrevious()}"-->
<!--       th:href="@{/blog(page=${blogList.number - 1},title=${freeText})}">-->
<!--        Trang Trước-->
<!--    </a>-->
<!--    <a class="page-item number btn btn-dark" th:classappend="${pageNumber == blogList.number} ? 'active' : ''"-->
<!--       th:each="pageNumber : ${integers}"-->
<!--       th:href="@{/blog(page = ${pageNumber},name = ${name})}"-->
<!--       th:text="${pageNumber + 1}">-->
<!--    </a>-->
<!--    <a class="page-item" th:if="${blogList.hasNext()}"-->
<!--       th:href="@{/blog(page=${blogList.number + 1},title=${freeText})}">-->
<!--        Trang Sau-->
<!--    </a>-->
<!--</div>-->

<!--&lt;!&ndash; Modal &ndash;&gt;-->
<!--<div class="modal fade" id="modelId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">-->
<!--    <div class="modal-dialog" role="document">-->
<!--        <div class="modal-content">-->
<!--            <div class="modal-header">-->
<!--                <h5 class="modal-title">Delete</h5>-->
<!--                <button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
<!--                    <span aria-hidden="true">&times;</span>-->
<!--                </button>-->
<!--            </div>-->
<!--            <form action="/blog/delete">-->
<!--                <div class="modal-body">-->
<!--                    <input type="hidden" name="deleteId" id="deleteId">-->
<!--                    <span>Bạn có muốn chắc chắn xóa không</span>-->
<!--                    <span id="deleteName"></span>-->
<!--                </div>-->
<!--                <div class="modal-footer">-->
<!--                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
<!--                    <button type="submit" class="btn btn-primary">Delete</button>-->
<!--                </div>-->
<!--            </form>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<!--<script>-->
<!--    function getProductInfo(id, name) {-->
<!--        document.getElementById("deleteId").value = id;-->
<!--        document.getElementById("deleteName").innerText = name;-->
<!--    }-->
</script>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>