<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Danh Sách Cầu Thủ</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<h1 class="text-center" style="color: red">Danh Sách Cầu Thủ</h1>
<form action="/player" method="get">
    <div class="d-flex" style="margin-top: 20px; margin-right: 10px">
        <input class="form-control me-2" type="search" id="name" name="name" placeholder="tìm kiếm" th:value="${name}">
        <input class="form-control me-2" type="date" id="startDate" name="startDate" placeholder="tìm kiếm" th:value="${startDate}">
        <input class="form-control me-2" type="date" id="endDate" name="endDate" placeholder="tìm kiếm" th:value="${endDate}">
        <input type="submit" class="btn btn-outline-warning"
               style="width: 120px" value="Tìm kiếm">
    </div>
</form>
<a class="btn btn-add btn-sm" href="/player/create">
    Thêm mới cầu thủ</a>
<table class="table table-striped able-bordered table-hover">
    <tr>
        <th>Mã cầu thủ</th>
        <th>Tên Cầu Thủ</th>
        <th>Ngày sinh</th>
        <th>Kinh nghiệm</th>
        <th>Vị trí</th>
        <th>Ảnh</th>
        <th>Thông tin chi tiết</th>
        <th>Sửa</th>
        <th>Xoá</th>
    </tr>
    <tr th:each="playerSoccer, iterStat : ${playerSoccerList}">
        <td th:text="*{iterStat.count}"></td>
        <td th:text="*{playerSoccer.name}"></td>
        <td th:text="*{playerSoccer.dateOfBirth}"></td>
        <td th:text="*{playerSoccer.experience}"></td>
        <td th:text="*{playerSoccer.location}"></td>
        <td><img th:src="*{playerSoccer.img}">
        <td><a th:href="@{/player/detail?id=__*{playerSoccer.id}__}" class="btn btn-primary btn-sm">Thông tin chi
            tiết</a></td>
        <td><a th:href="@{/player/update?id=__*{playerSoccer.id}__}" class="btn btn-primary btn-sm">Sửa</a></td>
        <td>
            <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#modelId"
                    th:attr="onclick=|infoDelete('${playerSoccer.id}', '${playerSoccer.name}')|">
                Xóa
            </button>
        </td>
        </td>
    </tr>
</table>
<div class="text-center">
    <a class="page-item btn btn-dark active1" th:if="${playerSoccerList.hasPrevious()}"
       th:href="@{/player(page = ${playerSoccerList.number - 1}, name = ${name})}">
        <i class="ti-angle-left">Trang Trước</i>
    </a>

    <a class="page-item number btn btn-dark active1"
       th:classappend="${pageNumber == playerSoccerList.number + 1} ? 'active' : ''"
       th:each="pageNumber : ${playerSoccerList}"
       th:href="@{/player(page = ${pageNumber - 1},name = ${name})}"
       th:text="${pageNumber}">
    </a>

    <a class="page-item btn btn-dark active1" th:if="${playerSoccerList.hasNext()}"
       th:href="@{/player(page = ${playerSoccerList.number + 1}, name =${name})}">
        <i class="ti-angle-right">Trang Sau</i>
    </a>
</div>
<div class="modal fade" id="modelId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"> Xóa cầu thủ </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="/player/delete">
                <div class="modal-body">
                    <input type="hidden" name="deleteId" id="deleteId">
                    <span>Bạn Có Chắc Chắn Xóa Cầu Thủ</span><span style="color: red" id="deleteName"></span> Không ?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Huỷ</button>
                    <button type="submit" class="btn btn-danger">Xoá</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    function infoDelete(id, name) {
        document.getElementById("deleteId").value = id;
        document.getElementById("deleteName").innerText = name;
    }
</script>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>