<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Danh Sách Cầu Thủ</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        img{
            width: 100px;
        }
    </style>
</head>
<body>
<h1 class="text-center" style="color: coral">Danh Sách Cầu Thủ</h1>
<form action="/player" method="get" style="width: 400px">
    <div class="d-flex">
        <input class="form-control me-2" type="search" id="name" name="name" placeholder="Tìm Kiếm" th:value="${name}">
        <input type="submit" class="btn btn-outline-warning"
               style="width: 100px" value="Tìm kiếm">
    </div>
</form>
<a href="/player/create" class="btn btn-primary">Thêm mới cầu thủ</a>
<table style="width: 100%">
    <tr>
        <th>Mã Cầu Thủ</th>
        <th>Tên Cầu Thủ</th>
        <th>Ngày Sinh Cầu Thủ</th>
        <th>Kinh Nghiệm (Năm)</th>
        <th>Vị Trí Cầu Thủ</th>
        <th>Ảnh Cầu Thủ</th>
        <th>Đội Tuyển</th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    <tr th:each="playerSoccer, iterStat : ${playerSoccerList}">
        <td th:text="*{iterStat.count}"></td>
        <td th:text="*{playerSoccer.name}"></td>
        <td th:text="*{playerSoccer.dateOfBirth}"></td>
        <td th:text="*{playerSoccer.exp}"></td>
        <td th:text="*{playerSoccer.location}"></td>
        <td><img th:src="*{playerSoccer.img}"></td>
        <td th:text="*{playerSoccer.team?.name}"></td>
        <td><a th:href="@{player/detail?id=__*{playerSoccer.id}__}" class="btn btn-primary">Thông tin chi tiết</a></td>
    </tr>
</table>
<div class="text-center">
    <a class="page-item btn btn-dark active1" th:if="${playerSoccerList.hasPrevious()}"
       th:href="@{/player(page = ${playerSoccerList.number - 1}, name = ${name})}">
        <i class="ti-angle-left">Trang Trước</i>
    </a>

<!--    <a class="page-item number btn btn-dark active1"-->
<!--       th:classappend="${pageNumber == playerSoccerList.number + 1} ? 'active' : ''"-->
<!--       th:each="pageNumber : ${playerSoccerList}"-->
<!--       th:href="@{/player(page = ${pageNumber - 1},name = ${name})}"-->
<!--       th:text="${pageNumber}">-->
<!--    </a>-->

    <a class="page-item btn btn-dark active1" th:if="${playerSoccerList.hasNext()}"
       th:href="@{/player(page = ${playerSoccerList.number + 1}, name =${name})}">
        <i class="ti-angle-right">Trang Sau</i>
    </a>
</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>